.popupButton{
    background-color:lightgrey;
    border-radius: 5px;
    border: none;
    color:black;
   
}

.skills{
    font-size: 20px;
    font-weight:bold;
    font-family: "Roboto";
    color:black;
    padding-top: 0px;
    list-style-type: circle;
}

@media screen and (min-width:768px){
    .popupButton{
       height:60px; 
    }
    


}

@media screen and (min-width:1024px){
    .popupButton{
       height:80px;
      
    }
    


}