.headerSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightgoldenrodyellow;
    
    height:50vh;
    width:80vw;
    margin:20px;
    align-self: center;
    border-radius: 10px;
    
    
}
.profile{
    height:300px;
    width:280px;
    border-radius: 50%;
}
.mail{
    height:100px
}
.iconsSection1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:230px;
    
}

.iconsSection2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:160px;
    
}
.contacts{
    display: flex;
    flex-direction: column;
    
    
   
}
.icon{
    height:50px;
}